body {
    margin: 0;
    padding: 0;
    background-image: url('Sealink.jpg');
    background-size: cover;
  }
  
  .container {
    position: relative;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    z-index: 1;
    margin-top: 10%
  }
  
  .box {
    width: 80%;
    max-width: 800px;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    height: 50%;
    margin-top: 5%;
  }
  
  p {
    font-size: 1.45rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin: 0;
  }
  